<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<display-name>Inicio</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Inicio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cuenta</servlet-name>
		<display-name>Cuenta</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.cuenta.Cuenta</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<display-name>ChangePassword</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.cuenta.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<display-name>Upload</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LikePage</servlet-name>
		<display-name>LikePage</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.LikePage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Error</servlet-name>
		<display-name>Error</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.estado.Error</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InternalError</servlet-name>
		<display-name>InternalError</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.estado.InternalError</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RandomPublicacion</servlet-name>
		<display-name>RandomPublicacion</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.RandomPublicacion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<display-name>Search</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MisPublicaciones</servlet-name>
		<display-name>MisPublicaciones</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.cuenta.MisPublicaciones</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<display-name>Admin</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.cuenta.Admin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Busqueda</servlet-name>
		<display-name>Busqueda</display-name>
		<description></description>
		<servlet-class>com.txurdi.fct.servlet.Busqueda</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/Inicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cuenta</servlet-name>
		<url-pattern>/Cuenta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/Cuenta/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikePage</servlet-name>
		<url-pattern>/LikePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InternalError</servlet-name>
		<url-pattern>/InternalError</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomPublicacion</servlet-name>
		<url-pattern>/RandomPublicacion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MisPublicaciones</servlet-name>
		<url-pattern>/Cuenta/MisPublicaciones</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Cuenta/Admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Busqueda</servlet-name>
		<url-pattern>/Busqueda</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/Error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/InternalError</location>
	</error-page>
</web-app>